/*
Vert Middle Green #52AA5E
Noir Smoky Black #080708
Blanc Anti-Flash White #EBF2FA
Rouge Japanese Carmine #8B2635

Police titre et menu Montserrat
Police paragraphe Roboto
*/

h1,h2,h3,h4,h5, header a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Roboto', sans-serif !important;
}
.nav-link ,.navbar-toggler-icon{
    color: #EBF2FA !important;
}
.navbar-brand{
    margin-left: 10% !important;
    color: #EBF2FA;
}
.show{
    background-color: #00000077;
    z-index: 1;
}
header{
    background: url(../images/joey-kyber-GPxgi4J82E4-unsplash.jpg);
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 4%;
    height: 100vh;
}
.under-nav{
    margin-top: 15%;
    color: #EBF2FA !important;
}
.btn1{
    margin-top: 5%;
}
.btn2{
    margin-top: 5%;
}
.btn4{
    margin-top: 3%;
}
.btn1,.btn2,.btn3, .btn4{
    color: #52AA5E;
    background-color: #EBF2FA;
}
.pres-entreprise{
    padding-top: 3%;
}
.pres-entreprise h2{
    margin-bottom: 4%;
}
.carousel-style{
    margin-bottom: 10%;
}
.carousel-inner img{
    height: 60vh !important;
}
#moi{
    background: url(../images/pile-de-bois-de-chauffage2.jpg) no-repeat center ;
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
}
.bois1{
    padding-top: 3%;
}
.bois2{
    padding-bottom: 3%;
}
hr{
    width: 50%;
    background-color: #52AA5E !important;
    margin-bottom: 3%;
}
.card{
    height: 40vh !important;
    width: 80%;
}
.card-header{
    background-color: #52AA5E;
    color: #EBF2FA;
}
.card-body{
    background-color: #EBF2FA;
    color: #52AA5E;
}
#contact{
    background: url(../images/cheminee-allumer.jpg) no-repeat center fixed;
    background-size: cover;
    font-weight: bold;
}
.map{
    height: 40vh;
}
#contact h2,#contact h3, #contact p, #contact label {
    color: #EBF2FA;
}
#contact i {
    color: #EBF2FA;
}
.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
footer{
    height: 60px;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: #080708;
    color: #EBF2FA;
}
footer a{
    color: #52AA5E;
}
footer a:hover{
    color: #52AA5E;
}
#a2mi{
    color: #CB4278 !important;
}
.navbar-light .navbar-toggler{
    background-color: #EBF2FA !important;
}
.white{
    color: #EBF2FA;
}

@media screen and (max-width: 992px){
    h1{
        font-size: 2rem;
    }
    .under-nav{
        margin-top: 23%;
    }
    .card-style {
        flex-direction: column;
        align-items: center;
    }
    .card-style2{
        max-width: 100% !important;
    }
    .card{
        margin-bottom: 15%;
        margin-left: 20%;
        width: 60%;
    }
    .map{
        height: 50vh;
        width: 80% !important;
    }
    p{
        text-align: justify;
    }
    .foot{
        text-align: center !important;
    }
    .carousel-style{
        max-width: 100% !important;
        flex: 0 0 90% !important;
    }
    .carousel-inner img{
        height: 45vh !important;
    }
}

@media screen and (max-width: 767px){
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.6rem;
    }
    .mes-infos{
        margin-bottom: 5%;
    }
}
@media screen and (max-width: 575px){
    .map{
        width: 100% !important;
    }
    .carousel-style{
        flex: 0 0 100% !important;
    }
    .under-nav{
        margin-top: 50%;
    }
}
@media screen and (max-width: 475px){
    h1{
        font-size: 1.8rem;
    }
    .btn-header{
        flex-direction: column !important;
        align-items: center !important;
    }
    .btn1{
        margin-right: 0 !important;
    }
}
@media screen and (max-height : 430px){
    .under-nav{
        margin-top: 15%;
    }
    .carousel-inner img{
        height: 70vh !important;
    }
    .map{
        height: 70vh !important;
    }
}